{
  "extends": ["eslint:recommended"],

  "env" : {
    "node": true,
    "mocha": true,
    "es6": true
  },

  "plugins" : [
    "babel"
  ],

  "rules": {
    "arrow-parens" : 1,
    "arrow-spacing" : 1,
    "no-this-before-super": 2,
    "semi" : 1
  },

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules" : true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  }
}
